services:
    projekt:
        image: ${CI_REGISTRY:-hub.vindelicum.eu}/${PROJECT_NAME}
        container_name: ${PROJECT_NAME}
        restart: always
        networks:
            - rp
        healthcheck:
            test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:80/"]
            interval: 30s
            timeout: 5s
            retries: 3
            start_period: 10s
        deploy:
            resources:
                limits:
                    cpus: "0.5"
                    memory: 128M
        volumes:
            - ./server/config.yml:/config.yml:ro
        labels:
            traefik.enable: "true"
            traefik.http.routers.${PROJECT_NAME}.tls.certresolver: "default"
            traefik.http.routers.${PROJECT_NAME}.tls.domains[0].main: "${DOMAIN}"
            traefik.http.routers.${PROJECT_NAME}.tls.domains[0].sans: "*.${DOMAIN}"
            traefik.http.routers.${PROJECT_NAME}.rule: "Host(`${SUBDOMAIN}.${DOMAIN}`)"
            traefik.http.routers.${PROJECT_NAME}.entrypoints: "websecure"
            traefik.http.services.${PROJECT_NAME}.loadbalancer.server.port: "80"
            traefik.docker.network: rp
            com.centurylinklabs.watchtower.enable: true
            turing.public:

networks:
    rp:
        name: rp
